.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 330px;
  background-color: #292735;
}

.sidebar ul{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.session-item.active{

  background-color: #ac70ac;
}

.session-item{

  color: wheat;
  background-color: #503b72;
  padding: 10px;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid-container {
  flex: 1;
  display: flex;
}

.grid-item {
  display: grid;
  flex: 1 1 auto;

}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #32343d;
}

.message-input{
  height: auto;
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
  background-color: #a99ece;
  width: 60%;
}

.mat-mdc-form-field-subscript-wrapper{
  height: 0px;
}

.headerContainer{

  display: flex;
  margin: 10px;
}

.nameHeader{

  background-color: #292735;
  align-items: center;
}
.clientNameHeader{

  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: wheat;
}

.clientNameHeader.client-info{
  font-size: 15px;
}

.message_container {
  padding: 5px;
}

.message {
  font-size: 18px;
  background-color: white;
  padding: 10px;
  
}

.grid-item.inputs {
  background-color: #292735;
  margin-top: auto; /* Alinha o terceiro grid-item na parte inferior */
}

.grid-item.inputs{
  margin: 0;
  align-content: center;
}

.grid-item.inputs .btn-send {
  margin-top: auto; /* Alinha o botão "Enviar" na parte inferior */
}

.grid-item.messages .clientName {
  color: salmon;
}

.grid-container:first-child {
  flex: 0 0 50px; /* Defina o valor desejado para a altura do primeiro grid-container */
}

.grid-container:last-child {
  flex: 0 0 60px; /* Defina o valor desejado para a altura do terceiro grid-container */
}
